.footer-container {
  text-align: center;
}

.footer-container p {
  color: #fff;
  margin: 0;
  margin-bottom: 30px;
}
.socials a {
  padding-right: 20px;
}
.footer-icon {
  position: absolute;
  cursor: pointer;

  right: 1vw;
}
