.support-container {
  margin-top: 180px;
  margin-bottom: 40px;
}
.support-container h2 {
  width: 1000px;
  margin: auto;
  color: #fff;
  font-size: 100px;
  margin-bottom: 40px;
  text-align: center;
}
form {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.feedback-input {
  color: white;
  font-family: Gotham-Medium;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #d65a7e;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #5a9ad6;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  resize: none;
}

[type="submit"] {
  font-family: Gotham-Medium;
  background: #d65a7e;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 700;
  width: 200px;
}
[type="submit"]:hover {
  background: #5a9ad6;
}
@media only screen and (max-width: 450px) {
  .support-container {
    margin-top: 90px;
  }
  .form {
    width: 350px;
  }
  .support-container h2 {
    font-size: 40px;
    text-align: left;
  }
  #submit {
    width: 100px;
  }
}
